<h1>Add New Restaurant</h1>
<div  *ngIf="showAlert"  class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Your Data is Saved !!!</strong> 
  <button  (click)="closeAlert()"type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addResto" (ngSubmit)="collectResto()" >
    <div class="form-group">
      <label for="exampleInputEmail1">Fname</label>
      <input type="text" class="form-control" formControlName="fname"  placeholder="Enter Fname">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"> address</label>
        <input type="text" class="form-control"  formControlName="addres" placeholder="Enter address">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email </label>
        <input type="email" class="form-control"  formControlName="Gmail" placeholder="Enter email">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>