body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    padding: 10px;
    background-color: #eddfdf;
    position: absolute;
    bottom: 0;
    width: 100%;
}
