 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Resto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" routerLink="add">Add Restaurant</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="update">Update Restaurant</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="list"> List Restaurant</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="login">Login User</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="register">Register User</a></li>  
    </ul>   
      </div>
</nav> 
<router-outlet></router-outlet>

  <!-- <h1>Resto App</h1>
  <ul>
    <li><a href="app">Add Restaurant</a></li>
    <li><a href="update">Update Restaurant</a></li>
    <li><a href="list"> List Restaurant</a></li>
    <li><a href="login">Login User</a></li>
    <li><a href="register">Register User</a></li>
  </ul>
    -->